@charset "utf-8";
/**
 * Tendu Drupal - A CSS Theme For Developers
 * Incremental CSS overrides for IE (all variants)
 * Author: Tom Bigelajzen - http://tombigel.com
 */

/** 
 * "break-word" causes IE to break long text with no white-spaces,
 * otherwise, because of it's non-standard block sizing behavior it
 * breakes the layout - especially when RTL is involved.
 * It's actually a very useful decleration.
 */
body{word-wrap: break-word;}

/* Remove background from fieldsets */
fieldset{background:none;border-color:#dddff0;}

/* Fix IE7 collapsed fieldsets (The defitition in system.css don't apply on IE7, TODO: Check why) */
html.js fieldset.collapsed legend{display:inline}
