@charset "utf-8";
/**
 * Tendu Drupal - A CSS Theme For Developers
 * Author: Tom Bigelajzen - http://tombigel.com
 * 
 * Please follow the instructions in the comments.
 * Lines that end with LTR comments are referenced in styl-rtl.css according to Drupal Coding Guidelines
 * Lines that end with IE, IE6 etc. comments are referenced in ie.css, ie6.css and so on.
 */

/* Basic CSS Reset */
body, div,  dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, a,
pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, th, td {margin:0;padding:0;}
img, fieldset, legend, table, tr, td, th {border:none;}
ol, ul, li {list-style-type:none;}
table, td{vertical-align:top;text-align:left;}/*LTR*/
th{vertical-align:middle;text-align:left;}/*LTR*/


/* Drupal CSS Defaults reset */
.profile,
.node-form .standard{clear:none;}
ul.menu{padding:0 0 0 1em;}/*LTR*/
ul.menu li{margin:0 0 0 .5em;}/*LTR*/
.sidebar-region .item-list ul li{list-style-image:none;list-style-type:none;padding:0;margin:0;}

li.leaf{list-style-image:none;list-style-type:disc}

/*Fix OpenID icon placement*/
#user-login-form li.openid-link, 
#user-login li.openid-link{padding-left:1.5em}/*LTR*/

/**
 * The only changes you need to do here are:
 * 1. Comment/Uncomment the lines that relate to full viewport height
 * 2. Comment/Uncomment the lines that relate to fixed width or fluid width layout
 * 3. Set the widths of the page, the content area and the sidebars.
 *
 * For readability reasons some selectors has multiple style declerations.
 * Keep this section clean, add your design CSS in subthemes.
 */

/**
 * Full viewport height
 * Notes:
 * Remove these lines if you don't need the hight of the #page element to span 100% of the viewport height.
 */
html, body{height:100%;}
#page{height:auto !important;height:100%;min-height:100%;position:relative;}

/** 
 * Stick footer to bottom of the page
 * Notes:
 * - Requires the above "Full viewport height", otherwise it can be removed.
 * - "#footer" height must be an absolute value for this to work right.
 *   The height of #footer and padding-bottom of ".footer-spacer" must be set concordingly,
 *   so the footer will not overlay the content of the page.   
 * - Set the padding and the height according to your design.
 * - In some edge cases on some browsers the footer will refuse to stick to the bottom,
 *   one solution that works for me is to move the footer <div> in page.tpl.php
 *   to be right under the header instead of the end of the page.
 */
.footer-spacer{padding-bottom:3em;}
#footer{position:absolute;bottom:0;height:3em;width:100%;}

/**
 * Fonts
 * Notes:
 * - I'm using relative font sizes for 2 reasons:
 *   1. Accessibility - So users of IE6 will be able to resize fonts.
 *   2. Font sizes are easier to track this way, you change the size of a font in a parent element
 *      and all the font sizes in child elements change with it.
 * - Note that "line-height" unlike "font-size" is relative to the current element and not to a global line height.
 * - Basic font size 12px, set as .75em of browsers default 16px size.
 * - For 14px font size change .75em to .85em, note that then the following numbers do not apply.
 * - In Firefox (All versions) there is an inconsistant bug with relative font size in tables, found a fix for that.
 * - Font sizes (when base size is .75em, calculated as desired font size devided by 12):
 *	 10px = .83em
 *	 11px = .916em
 *	 12px = 1em
 *	 13px = 1.083em
 *	 14px = 1.166em
 *	 16px = 1.333em
 *	 18px = 1.5em
 *	 20px = 1.666em
 *   etc...
 */
body{font-family:Arial, Helvetica, sans-serif;font-size:100%;}/*LTR*/ /*IE*/
#page{font-size:.75em;line-height:1.333em;}
table{font-size:1em}

/* Main Layout: */

/**
 * Page width: Fixed width layout.
 * For fixed width Layout comment the "Fluid width" line and uncomment the following line
 */
/* 
#page{width:980px;margin:0 auto;position:relative;}
*/

/**
 * Page width: Fluid width layout
 * Notes:
 * - As a thumb rule I don't deal with non-standard IE hacks so this design degrades to a fixed width in IE6
 * - For fluid width in IE6 you can use the "width:expression()" hack. But you really shouldn't.
 * - To have a full page width in IE6, use the following structure:
 */
/*
#page{min-width:760px;max-width:1220px;height:1%;margin:0 auto;}
*/
#page{min-width:760px;max-width:1220px;width:auto !important;width:980px;margin:0 auto;}

/**
 * Sidebars widths
 * NOTES:
 * - When using this method, the design 'suffers' from the 3 pixel gap in IE6, 
 *   meaning that in IE6 there will be an extra margin of 3 pixels from both
 *   sides of "#content".
 *   There are several ways to deal with it, 
 *   I added a decleration in ie6.css, do not forget to change it there if you change the values here.
 *   
 *   TODO: find a consistent way to do it without the padding.  
 */
#sidebar-first{float:left;width:170px;}/*LTR*/ 
#sidebar-second{float:right;width:170px;}/*LTR*/ 

.with-sidebar-first #content{margin-left:170px;padding-left:10px}/*LTR*//*IE6*/
.with-sidebar-second #content{margin-right:170px;padding-right:10px}/*LTR*//*IE6*/

/**
 * Set hasLayout for IE on all main areas
 * What is "hasLayout"? Read here: http://www.satzansatz.de/cssd/onhavinglayout.html
 * 
 * Note:
 * - If for any reason you are going to set a fixed height on one of these elements' container it
 *   will set the elemen's height to 1% and you'll have to use a different approach.
 */
#header, 
#header_content,
#main-nav,
#before-content,
#after-content,
#content-header,
#content-top,
#content-area,
#content-bottom,
#main,
#footer{width:100%;}

/* Content must not have a width, so using height instead and default content is there for styling and width will break it*/
#default-content,
#content{height:1%}

/* Collapsed fieldsets use JS that requires it's parent to have layout */
.node-form{height:1%;}

/*Clear floats before and after main areas*/
#header,
#before-content,
#main,
#after-content,
#main-nav,
#footer{clear:both;}

/*Clear floats where "clear:both" cannot be used (It clears the sidebars)*/
#content-header,
#content-top,
#content-area,
#content-bottom,
#main,
#footer{overflow:hidden;}

/**
 * Clear floats in #main-nav and #header for standard browsers (http://www.positioniseverything.net/easyclearing.html)
 * This can be applied for any element, but it is not cross-browser complete. 
 * In this specific case in IE setting hasLayout on #main-nav and #header takes care of the problem.
 */
#header:after,
#main-nav:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
