@charset "utf-8";
/**
 * Tendu Default: A sub-theme of Tendu - A CSS theme for developers
 * Incremental CSS overrides for RTL sites
 * Author: Tom Bigelajzen - http://tombigel.com
 */

/* Flip main navagation */
#main-nav ul.menu li {float:right;margin-left:0em;margin-right:1em}
ul,
ol{padding-left:0;padding-right:1em;}
ul li,
ol li{margin-left:0;margin-right:1.5em;}

/* Flip everything else */
ul.primary {padding-right:10px;padding-left:0;}
#header-blocks {float:left;}
#header-blocks ul{padding-right:0;}
#site-logo{float:right}
#site-details{float:right;}
