@charset "utf-8";
/**
 * Tendu Default: A sub-theme of Tendu - A CSS theme for developers
 * Author: Tom Bigelajzen - http://tombigel.com
 */
body{color:#535d66;background:#fff;}

/*Basic Typography*/
h1{font-size:1.833em;line-height:1.333em;font-weight:bold;}
h2{font-size:1.5em;line-height:1.333em;font-weight:bold;}
h3{font-size:1.333em;line-height:1.333em;font-weight:bold;}
h4{font-size:1.166em;line-height:1.333em;font-weight:bold;}
h5{font-size:1.083em;line-height:1.333em;font-weight:bold;}
h6{font-size:1em;line-height:1.333em;font-weight:bold;}
p{padding-bottom:.5em;}
.meta{font-size:.83em;padding-bottom:.5em;}

/*Tables*/
table{margin-top:10px;}
tr.even{background:#fcfdfe;}
td,
th{padding:.2em .5em;}

/*Lists*/
dt{font-style:italic;}
dd{padding:.5em;}
ul,
ol{padding-left:1em;}/*LTR*/
ul li{margin-left:1.5em;list-style:disc;line-height:1.5em;}/*LTR*/
ol li{margin-left:1.5em;list-style:decimal;line-height:1.5em;}/*LTR*/
.item-list ul li{padding:3px 0;}

/* Form Elements  */
fieldset{padding:.5em .8em;margin:0 0 1em;border:1px solid #f0f0f0;background:#fdfeff;}
html.js fieldset.collapsed{border-top-color:#dddff0;background:none;}
legend{font-weight:bold;font-size:1.166em;padding:0 .3em}
input, select, textarea{font-family:Arial, Helvetica, sans-serif;font-weight:normal;line-height:1em;font-size:1em;}
textarea{line-height:1.2em;}
button{font-family:Arial, Helvetica, sans-serif;font-weight:bold;line-height:1em;font-size:13px}
button{cursor:pointer;}
.form-radio,
.form-checkbox{vertical-align:middle;}/* TODO: Check if this works page wide */
/* Links */
a{color:#5297dd;text-decoration:none;}
a:visited{color:#6a9dd0;}
a:hover, a:focus{text-decoration:underline;}

/* Header and Navagation */
#header{background:#f0f1f3;}

#header-blocks{float:right;padding:5px;font-size:.916em;color:#444;}/*LTR*/
#header-blocks ul{padding-left:0;}/*LTR*/
#header-blocks li{margin:0;list-style:none;}
#header-blocks a{color:#444;font-weight:bold;}

#site-details{float:left;padding:5px;}/*LTR*/
#site-logo{float:left;padding:5px;}/*LTR*/ /*IE6 commented*/
#site-name{font-size:2.5em;line-height:1.333em;font-weight:bold;}
#site-slogan{font-size:1.5em;line-height:1.333em;}

#main-nav{background:#eee}
#main-nav ul.menu{overflow:hidden;}
#main-nav ul.menu li{float:left;padding:2px;margin-left:1em;list-style:none;}/*LTR*/

/* Page info */
.breadcrumb{padding:0;}
#content-title{padding:12px;background:#f5f6f8;margin-bottom:10px;margin-top:0;}
#content-info{padding:6px 12px;background:#f6f6f6;margin-bottom:10px;}
#mission{padding:12px;background:#f6f8f5;font-size:1.166em;margin-bottom:10px;}
.messages{padding:12px;background:#f0fdf0;border:1px solid #e0ede0;margin-bottom:10px;}

/* Blocks in sidebars */
.sidebar-region .block{margin:10px 0;padding:6px;background:#f5f6f8;}
.sidebar-region #nav a{font-weight:bold;font-size:1.083em;}

/* Blocks nodes and views in content areas. */
.extra-region .block,
.content-region div.block,/* Using "div.block" because /admin/build/blocks uses td.block */
.content-region .node,
.content-region .node-form,
.content-region .view,
.content-region .profile,
.content-region .node-type-list,
.page-admin #default-content{padding:12px;background:#f5f6f8;margin-bottom:10px;margin-top:0;}

#content{margin-top:10px;}
#before-content{margin-top:10px;}
#before-content .block-last{margin-bottom:0;}

/* Remove redundent styling from blocks in blocks, nodes and views */
.content-region .view div.block,
.content-region .node div.block,
div.block div.block{padding:0;background:0;}

/* Forums */
#forum table{width:95%;}

/* Tabs */
ul.primary {border-color: #f1f1f1;margin:1px 0 0 0;padding-left:10px;}/*LTR*/
ul.primary li{margin:0;line-height:normal;}
ul.primary li a {background-color: #eee;border-color: #e8e8e8 #e8e8e8 #f1f1f1 #e8e8e8;}
ul.primary li.active a {border-color: #f1f1f1 #f1f1f1 #f6f6f6 #f1f1f1;background-color: #f6f6f6;font-weight:bold}
ul.primary li a:hover {background-color: #f8f8f8;border-color: #e8e8e8 #e8e8e8 #f6f6f6 #e8e8e8;}
ul.secondary {padding:6px 12px;background:#f6f6f6;margin:0 0 10px;border-color: #f1f1f1}
ul.secondary li{margin:0;}
ul.secondary a:hover {text-decoration:underline}
ul.secondary a.active {font-weight:bold;border:none;}

/* Footer */
#footer{text-align:center;font-size:.916em;color:#888;background:#f0f1f3;}
#footer-message,
#footet-blocks{padding:6px 12px}
#footer p{padding:0;}

/* Tweak Admin panel */
div.admin .right,
div.admin .left{margin:0;}

/* Tweak Views Admin panel */
a.views-button-remove{top:0;}
#edit-views-apply{margin-top:1.3em;}

/* Tweak Blocks Admin panel */
#blocks td{vertical-align:middle;}
#blocks .block{padding:0;margin:0;}

/*Tweak Update Admin panel*/
.version-status .icon img{vertical-align:middle}

/**
 * Some fun with rounded corners.
 * Mozilla and Webkit support the "border-radius" property, so why not take advantage of it?
 * I commented these lines because this code won't validate, uncomment them to use it.
 * 
 * "-moz-border-radius" is for Mozilla browsers
 * "-webkit-border-radius" is for Webkit browsers
 * "-o-border-radius" is for future Opera implementation (Has no effect in current versions, and it's only a guess that it will be used)
 * "border-radius" is for a time where this property will get into the standard imlementation (Has no effect in current versions)
 */
/*
#header{-moz-border-radius:0 0 8px 8px;-webkit-border-radius:0 0 8px 8px;-o-border-radius:0 0 8px 8px;border-radius:0 0 8px 8px;}
#footer{-moz-border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0;-o-border-radius:8px 8px 0 0;border-radius:8px 8px 0 0;}

div.messages,
fieldset{-moz-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;border-radius:4px;}

#main-nav,
#content-area,
#content-title,
#content-info,
#default-content,
#mission,
.sidebar-region .block,
.extra-region .block,
.content-region .block,
.content-region .node,
.content-region .node-form,
.content-region .view,
.content-region .profile,
ul.secondary{-moz-border-radius:8px;-webkit-border-radius:8px;-o-border-radius:8px;border-radius:8px;}

.tabs a{-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-o-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}
#blocks .block{-moz-border-radius:0;-webkit-border-radius:0;-o-border-radius:0;border-radius:0;background:none;}
ul.primary{margin:0 8px;}
*/